version: "3.0"

networks:
  cameratraps:
    driver: bridge

services:
  # the name `engine` is important here; in general, the sevice name is addressable by other conatiners on the same
  # docker network. The default "hostname" used by the python plugin library (pyevents) is "engine"
  engine:
    container_name: engine
    image: tapis/camera_traps_engine:0.3.3
    networks:
      - cameratraps
    environment:
      - TRAPS_CONFIG_FILE=/traps.toml
    volumes:
      # mount the traps.toml in the current working directory.
      - ./config/traps.toml:/traps.toml:ro
      # mount the image output directory from the host to the directory specified in traps.toml
      # Docker compose hijacks $HOME so we use a workaround.  If the source directory doesn't
      # exist it will be created with root ownership.
      - ./images_output_dir:/root/camera-traps/images
      # mount the log4rs configuration file over the baked into the image.  Comment out
      # this mount if you want to use the image's default logging configuration.
      - ../../resources/log4rs.yml:/resources/log4rs.yml

  imageGeneratingPlugin:
    container_name: image_generating
    image: tapis/image_generating_plugin_py:0.3.3
    networks:
      - cameratraps
    pid: host
    depends_on:
      - engine
    environment:
      - IMAGE_GENERATING_PLUGIN_PORT=6000
      - POWER_MEASURING_PLUGIN_PORT=6010
      - TRAPS_POWER_LOG_PATH=/logs
      - TRAPS_TEST_POWER_FUNCTION=0 
      - MONITOR_POWER=true
    volumes:
      # mount the traps.toml in the current working directory.
      - ./config/traps.toml:/traps.toml:ro
      # mount the example images directory; this is the source of the images used for
      # generating NewImage events. The path `/example_images` is the default path
      # where the plugin looks for images. This can be changed by providing a different
      # configuration file. 
      # NOTE: this is NOT the shared images directory!!
      - ../common/example_images:/example_images:ro
      # The following is optional but can be used to mount a different configuration file
      # into the Image Generating plugin. Note that if doing so, values in the configuration
      # file must match configurations provided in other parts of this file.
      - ./config/image_gen_config.json:/input.json

  imageScoringPlugin:
    container_name: image_scoring
    image: tapis/image_scoring_plugin_py_3.8:latest
    networks:
      - cameratraps
    pid: host
    depends_on:
      - engine
      - imageGeneratingPlugin
    environment:
      - IMAGE_SCORING_PLUGIN_PORT=6001
      # The IMAGE_PATH variable needs to match what is specified in the vouume mount below for the
      # container path portion of the shared images directory.
      - IMAGE_PATH=/input_images
      # The IMAGE_PATH_PREFIX is optional and needs to agree with the image_file_prefix
      # variable in the traps.toml file; when not being used, comment the line.
      # - IMAGE_FILE_PREFIX=
      - POWER_MEASURING_PLUGIN_PORT=6010
      - TRAPS_POWER_LOG_PATH=/logs
      - TRAPS_TEST_POWER_FUNCTION=0 
      - MONITOR_POWER=true
    volumes:
      # mount the traps.toml in the current working directory.
      # NOTE -- not currently used (TODO)
      - ./config/traps.toml:/traps.toml:ro
      # mount the shared images directory from the host to the container directory specified in the
      # IMAGE_PATH environment variable, above.
      - ./images_output_dir:/input_images

  powerMonitorPlugin:
    # USAGE Example:
    # In your plugins, import the necessary:
    # E.g. Image_scoring_plugin.py:
    #
    #   from ctevents.ctevents import send_power_measure_fb_event
    #   import os
    #
    # When trying to measure power:
    #     my_pids = [os.getpid()] # any pids you want to measure
    #     monitor_type = [0] # 0 for CPU & GPU, 1 for CPU, 2 for GPU  (TODO: 3 for DRAM)
    #     monitor_duration = 10 # seconds
    #     send_power_measure_fb_event(socket, my_pids, monitor_type, monitor_duration)
    #
    container_name: power_monitor
    image: tapis/power_measuring_plugin_py:0.3.3
    networks:
      - cameratraps
    pid: host
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all # Use 'all' or specify the number of GPUs you want to use
    #           capabilities: [gpu]
    depends_on:
      - engine
      - imageGeneratingPlugin
      - imageScoringPlugin
    environment:
      - POWER_MEASURING_PLUGIN_PORT=6010
      - TRAPS_POWER_LOG_PATH=/logs
      - TRAPS_TEST_POWER_FUNCTION=1 
      # 1 for debug; Set to 0 when actually use it to measure other plugin's power
    volumes:
      # mount the traps.toml in the current working directory.
      - ./config/traps.toml:/traps.toml:ro
      - ./logs:/logs # Path for CPU and GPU power logs

