version: "3.0"

networks:
  cameratraps:
    driver: bridge

services:
  # the name `engine` is important here; in general, the sevice name is addressable by other conatiners on the same
  # docker network. The default "hostname" used by the python plugin library (pyevents) is "engine"
  engine:
    container_name: engine
    image: tapis/camera_traps_engine
    networks:
      - cameratraps
    environment:
      - TRAPS_CONFIG_FILE=/traps.toml
    volumes:
      # mount the traps.toml in the current working directory.
      - ./traps-external.toml:/traps.toml:ro
      # mount the shared images directory from the host to the directory specified in traps.toml
      - ./images_dir:/root/camera-traps/images

  imageGeneratingPlugin:
    container_name: image_generating
    image: tapis/image_generating_plugin_py
    networks:
      - cameratraps
    environment:
      - IMAGE_GENERATING_PLUGIN_PORT=6000
    volumes:
      # mount the traps.toml in the current working directory.
      - ./traps-external.toml:/traps.toml:ro
      # mount the example images directory; this is the source of the images used for
      # generating NewImage events. The path `/example_images` is the default path
      # where the plugin looks for images. This can be changed by providing a different
      # configuration file. 
      # NOTE: this is NOT the shared images directory!!
      - ../external_plugins/image_generating_plugin/example_images:/example_images:ro
      # The following is optional but can be used to mount a different configuration file
      # into the Image Generating plugin. Note that if doing so, values in the configuration
      # file must match configurations provided in other parts of this file.
      - ./image_gen_config.json:/input.json

  imageScoringPlugin:
    container_name: image_scoring
    image: tapis/image_scoring_plugin_py:3.8
    networks:
      - cameratraps
    environment:
      - IMAGE_SCORING_PLUGIN_PORT=6001
      # The IMAGE_PATH variable needs to match what is specified in the vouume mount below for the
      # container path portion of the shared images directory.
      - IMAGE_PATH=/input_images
      # The IMAGE_PATH_PREFIX is optional and needs to agree with the image_file_prefix
      # variable in the traps.toml file; when not being used, comment the line.
      # - IMAGE_FILE_PREFIX=
    volumes:
      # mount the traps.toml in the current working directory.
      # NOTE -- not currently used (TODO)
      - ./traps-external.toml:/traps.toml:ro
      # mount the shared images directory from the host to the container directory specified in the
      # IMAGE_PATH environment variable, above.
      - ./images_dir:/input_images:ro
